@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
    background-image: url('/public/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6); 
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;
}
/* SweetAlert2 Custom Styles */
.custom-popup {
    display: flex;
    align-items: center; /* Center-align items */
    padding: 20px; /* Add some padding */
  }
  
  .custom-icon {
    margin-right: 10px; /* Space between icon and title */
  }
  
  .custom-title {
    display: inline-block;
  }
  