@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
    background-image: url('/public/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6); 
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;
}
.custom-popup{
    font-size: 2rem; /* Adjust this value to change the icon size */
    width: 50px; /* Optionally adjust width */
    height: 50px; /* Optionally adjust height */
    line-height: 50px; 
}